
<div class="container mt-3">
  <div id="show-cocktail" class="card-category-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo.key, crop: :fill %>)">
    <h1><strong><%= @cocktail.name.upcase %></strong>  </h1>
    <ol>
      <% @cocktail.doses.each do |dose|%>
        <li><%= dose.ingredient.name %>, <%= dose.description %> <%= link_to "Delete ingredient", dose_path(dose), method: :delete %></li>
      <% end %>
    </ol>
  </div>
</div>

<div class="container mt-3">
      <h2>Add a new, sassy ingredient! </h2>
      <%= render "doses/new" %>
    </div>



